<footer class="footer">
  <div class="cm-footer">
      <div class="container">
          <div class="footer-flex">
              <div class="footer-logo">
                  <a href="{{basePath}}">
                      <img src="{{basePath}}images/Aexyn_white_logo.png" alt="Aexyn">
                  </a>
                  <div class="social-icons">
                      <h4>Social</h4>
                      <ul>
                          <li>
                              <a href="https://www.linkedin.com/" target="_blank" title="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                          </li>
                          <li>
                              <a href="https://www.twitter.com/" target="_blank" title="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
                          </li>
                          <li>
                              <a href="https://github.com/" target="_blank" title="GitHub"><i class="fa-brands fa-github"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="footer-menu">
                  <ul>
                      <li>
                          <a href="javascript:void(0)">Services</a>
                          <ul>
                              <li><a href="#">AI Agent</a></li>
                              <li><a href="#">Automation</a></li>
                              <li><a href="#">API Integration</a></li>
                              <li><a href="#">IT Services</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="footer-menu">
                  <ul>
                      <li>
                          <a href="javascript:void(0)">Industries</a>
                          <ul>
                              <li><a href="#">Fintech</a></li>
                              <li><a href="#">Healthcare</a></li>
                              <li><a href="#">Retail & E-commerce</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="footer-menu">
                  <ul>
                      <li>
                          <a href="javascript:void(0)">About us</a>
                          <ul>
                              <li><a href="{{basePath}}about-us">About</a></li>
                              <li><a href="{{basePath}}blog">Blogs</a></li>
                              <li><a href="{{basePath}}contact-us">Contact Us</a></li>
                              <li><a href="{{basePath}}case-studies">Case Studies</a></li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom accentColor1">
      <div class="container">
          <div class="footer-flex">
              <div class="footer-copyright">© 2025 Aexyn. All rights reserved.</div>
              <div class="quick_links">
                  <ul>
                      <li><a href="{{basePath}}about-us">About Us</a></li>
                      <li><a href="{{basePath}}services">Services</a></li>
                      <li><a href="{{basePath}}industries">Industries</a></li>
                      <li><a href="{{basePath}}blog">Blog</a></li>
                      <li><a href="{{basePath}}contact-us">Contact</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer> 