<header class="header">
  <div class="cm-header {{headerClass}}">
      <div class="container">
          <div class="header-flex">
              <div class="logo-col">
                  <a href="{{basePath}}">
                      <img src="{{basePath}}images/Aexyn_white_logo.png" width="150" alt="Aexyn">
                  </a>
              </div>
              <nav class="navigation">
                  <div class="menuClose"><span></span></div>
                  <ul>
                      <li class="highlightedMenu"><a href="#">Get Free AI Consultation</a></li>
                      <li><a href="{{basePath}}">Home</a></li>
                      <li class="has-children">
                          <a href="javascript:void(0)">Services <i class="fa-solid fa-chevron-down"></i></a>
                          <div class="megaMenu">
                              <div class="container">
                                  <div class="megaMenuBg">
                                      <h4>Services</h4>
                                      <div class="custom-row">
                                          <div class="custom-col-4">
                                              <ul>
                                                  <li>
                                                      <strong>AI & DATA ENGINEERING</strong>
                                                      <ul>
                                                          <li><a href="#">AI Consulting & Transformation</a></li>
                                                          <li><a href="#">LLM-based Apps & GPT Integration</a></li>
                                                          <li><a href="#">Machine Learning & Predictive Modeling</a></li>
                                                          <li><a href="#">NLP, Computer Vision, and GenAI</a></li>
                                                          <li><a href="#">Custom AI Solution Development</a></li>
                                                          <li><a href="#">MLOps & Continuous Training Pipelines</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="custom-col-4">
                                              <ul>
                                                  <li>
                                                      <strong>PRODUCT ENGINEERING</strong>
                                                      <ul>
                                                          <li><a href="{{basePath}}services/digital-product-development/">Digital Product and Platform Development</a></li>
                                                          <li><a href="#">Web and Mobile App Development</a></li>
                                                          <li><a href="#">IoT Development</a></li>
                                                          <li><a href="#">AR Development</a></li>
                                                          <li><a href="#">Cloud & DevOps</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </div>
                                          <div class="custom-col-4">
                                              <ul>
                                                  <li>
                                                      <strong>EXPERIENCE & GROWTH</strong>
                                                      <ul>
                                                          <li><a href="#">Product Discovery and Design Sprints</a></li>
                                                          <li><a href="#">Data-Driven UX/UI</a></li>
                                                          <li><a href="#">Rapid Prototyping</a></li>
                                                          <li><a href="#">Wireframes and Visual Designs</a></li>
                                                          <li><a href="#">UI/UX</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="has-children industry_menu">
                          <a href="javascript:void(0)">Industries <i class="fa-solid fa-chevron-down"></i></a>
                          <div class="megaMenu">
                              <div class="container">
                                  <div class="megaMenuBg">
                                      <h4>Industries</h4>
                                      <div class="custom-row">
                                          <div class="custom-col-12">
                                              <ul>
                                                  <li>
                                                      <ul>
                                                          <li><a href="#">Fintech</a></li>
                                                          <li><a href="#">Healthcare</a></li>
                                                          <li><a href="#">Retail & E-commerce</a></li>
                                                          <li><a href="#">EdTech</a></li>
                                                          <li><a href="#">Manufacturing</a></li>
                                                          <li><a href="#">Mobility</a></li>
                                                      </ul>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li><a href="{{basePath}}case-studies">Case Studies</a></li>
                      <li><a href="{{basePath}}blog">Blogs</a></li>
                      <li><a href="{{basePath}}about-us">About Us</a></li>
                  </ul>
              </nav>
              <div class="header-right-col">
                  <div class="btn-grid">
                      <div class="btn-item">
                          <a href="{{basePath}}contact-us" class="cm-btn">
                              <span class="btn-text">Contact Us</span>
                              <span class="btn-icon"></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="menuTrigger"><span></span><span></span><span></span></div>
          </div>
      </div>
  </div>
</header> 